<div class="ui-g">
    <div class="ui-g rcorners2">

        <div class="ui-g-12">
            <div class="ui-g-6 formheader">
                <h3>View Sales Order</h3>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" style="float:right; position: relative;" class="ui-button-danger"
                    (click)="this._location.back()" label="Cancel"></button>
            </div>
        </div>
        <form [formGroup]="addSalesOrderForm"
            (ngSubmit)="updateEdits()">
            <div class="ui-g">
                <div style=" overflow: visible;" class="fieldset-list ui-g-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Quotation Reference</h3>
                                <input  class="form-control formtext" type="text" [(ngModel)]="newQuotationNumber" pInputText [formControlName]="'quotation_number'" />
                            </span>
                            <span
                                *ngIf="!addSalesOrderForm.get('quotation_number').valid && addSalesOrderForm.get('quotation_number').touched"
                                class="help-block">
                                <span>
                                    <p-message *ngIf="addSalesOrderForm.get('quotation_number').errors['required']"
                                        severity="error" text="This field is required!"></p-message>
                                </span>
                            </span>
                        </div>

                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails ">Customer Id</h3>
                                <p-dropdown [formControlName]="'customer_id'" [virtualScroll]="true" itemSize="3" [options]="newList"
                                [(ngModel)]='newCustomerId' placeholder="Select Customer">
                                </p-dropdown>
                            </span>
                            <span
                                *ngIf="!addSalesOrderForm.get('customer_id').valid && addSalesOrderForm.get('customer_id').touched"
                                class="help-block">
                                <span>
                                    <p-message *ngIf="addSalesOrderForm.get('customer_id').errors['required']"
                                        severity="error" text="This field is required!"></p-message>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Date</h3>
                                <input  class="form-control formtext" dateFormat="dd.mm.yy" [(ngModel)]="newDate" type="text" [formControlName]="'date'">
                                <!-- <p-calendar dateFormat="dd.mm.yy" [(ngModel)]="newDate" placeholder="Click to Enter" [formControlName]="'date'"></p-calendar> -->
                            </span>
                            <span *ngIf="!addSalesOrderForm.get('date').valid && addSalesOrderForm.get('date').touched"
                                class="help-block">
                                <p-message *ngIf="addSalesOrderForm.get('date').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="fieldset-list ui-g-12 formnames">
                    <h2>Project Details</h2>
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Subject</h3>
                                <input  class="form-control formtext" type="text" [(ngModel)]="newSubject" pInputText [formControlName]="'subject'" />
                            </span>
                            <span
                                *ngIf="!addSalesOrderForm.get('subject').valid && addSalesOrderForm.get('subject').touched"
                                class="help-block">
                                <p-message *ngIf="addSalesOrderForm.get('subject').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Tender Location</h3>
                                <input  class="form-control formtext" type="text" [(ngModel)]="newTenderLocation" pInputText [formControlName]="'tenderLocation'" />
                            </span>
                            <span
                                *ngIf="!addSalesOrderForm.get('tenderLocation').valid && addSalesOrderForm.get('tenderLocation').touched"
                                class="help-block">
                                <p-message *ngIf="addSalesOrderForm.get('tenderLocation').errors['required']"
                                    severity="error" text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">PIC</h3>
                                <input  class="form-control formtext" type="text" [(ngModel)]="newPic" pInputText [formControlName]="'pic'" />
                            </span>
                            <span *ngIf="!addSalesOrderForm.get('pic').valid && addSalesOrderForm.get('pic').touched"
                                class="help-block">
                                <p-message *ngIf="addSalesOrderForm.get('pic').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">PIC Email</h3>
                                <input  class="form-control formtext" type="text" [(ngModel)]="newPicEmail" pInputText [formControlName]="'picEmail'" />
                            </span>
                            <span
                                *ngIf="!addSalesOrderForm.get('picEmail').valid && addSalesOrderForm.get('picEmail').touched"
                                class="help-block">
                                <p-message *ngIf="addSalesOrderForm.get('picEmail').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="fieldset-list ui-g-12 formnames">
                    <h2>Amount</h2>
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Total</h3>
                                <input  class="form-control formtext" type="text" [(ngModel)]="newTotal" pInputText [formControlName]="'total'" />
                            </span>
                            <span
                                *ngIf="!addSalesOrderForm.get('total').valid && addSalesOrderForm.get('total').touched"
                                class="help-block">
                                <p-message *ngIf="addSalesOrderForm.get('total').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Deposit</h3>
                                <input  class="form-control formtext" type="text" [(ngModel)]="newDeposit" pInputText [formControlName]="'deposit'" />
                            </span>
                            <span
                                *ngIf="!addSalesOrderForm.get('deposit').valid && addSalesOrderForm.get('deposit').touched"
                                class="help-block">
                                <p-message *ngIf="addSalesOrderForm.get('deposit').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <app-comments></app-comments>
            </div>
            <div class="ui-g-12">
                <button pButton [disabled]="!addSalesOrderForm.valid" type="submit" label="Save Edit"></button>
            </div>
        </form>
    </div>
</div>