<div class="ui-g">
    <div class="ui-g rcorners2">

        <div class="ui-g-12">
            <div class="ui-g-6 formheader nFont">
                <h3>Add New Quotation</h3>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" style="float:right; position: relative;" class="ui-button-danger"
                    (click)="this._location.back()" label="Cancel"></button>
            </div>
        </div>
        <form [formGroup]="addForm" (ngSubmit)="confirm()">
            <div class="ui-g">
                <div style=" overflow: visible;" class="fieldset-list ui-g-12">
                    <!--Left column-->
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Subject</h3>
                                <input class="form-control formtext" type="text" pInputText
                                    [formControlName]="'subject'" />
                            </span>

                            <span *ngIf="!addForm.get('subject').valid && addForm.get('subject').touched"
                                class="help-block">
                                <span>
                                    <p-message *ngIf="addForm.get('subject').errors['required']" severity="error"
                                        text="This field is required!"></p-message>
                                </span>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Tender Location</h3>
                                <input class="form-control formtext" type="text" pInputText
                                    [formControlName]="'tenderLocation'" />
                            </span>
                            <span *ngIf="!addForm.get('tenderLocation').valid && addForm.get('tenderLocation').touched"
                                class="help-block">
                                <p-message *ngIf="addForm.get('tenderLocation').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Attention</h3>
                                <input class="form-control formtext" type="text" pInputText
                                    [formControlName]="'attention'" />
                            </span>
                            <span *ngIf="!addForm.get('attention').valid && addForm.get('attention').touched"
                                class="help-block">
                                <p-message *ngIf="addForm.get('attention').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                    <!--Right column-->
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label-2">
                                <h3 class="first formdetails">To</h3>
                                <p-dropdown [formControlName]="'to'" [virtualScroll]="true" [options]="newList"
                                    ngModel='supplier' placeholder="Select Supplier">
                                </p-dropdown>
                            </span>
                            <span *ngIf="!addForm.get('to').valid && addForm.get('to').touched" class="help-block">
                                <p-message *ngIf="addForm.get('to').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>

                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Validity</h3>
                                <input class="form-control formtext" type="text" pInputText
                                    [formControlName]="'validity'" />
                            </span>
                            <span *ngIf="!addForm.get('validity').valid && addForm.get('validity').touched"
                                class="help-block">
                                <p-message *ngIf="addForm.get('validity').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fieldset-list ui-g-12 formnames">
                <h2>Amount</h2>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="ui-g-12">
                        <span class="ui-float-label">
                            <h3 class="first formdetails">Total</h3>
                            <input class="form-control formtext" type="text" pInputText [formControlName]="'total'" />
                        </span>
                        <span *ngIf="!addForm.get('total').valid && addForm.get('total').touched" class="help-block">
                            <p-message *ngIf="addForm.get('total').errors['required']" severity="error"
                                text="This field is required!"></p-message>
                        </span>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="ui-g-12">
                        <span class="ui-float-label">
                            <h3 class="first formdetails">Deposit</h3>
                            <input class="form-control formtext" type="text" pInputText [formControlName]="'deposit'" />
                        </span>
                        <span *ngIf="!addForm.get('deposit').valid && addForm.get('deposit').touched"
                            class="help-block">
                            <p-message *ngIf="addForm.get('deposit').errors['required']" severity="error"
                                text="This field is required!"></p-message>
                        </span>
                    </div>
                </div>
            </div>
            <div class="fieldset-list ui-g-12 formnames">
                <div class="ui-g-12">
                    <h2>Supporting File</h2>
                    <div class="ui-g-12">
                        <p-fileUpload name="demo[]" customUpload="true" (uploadHandler)="onUpload($event)"
                            multiple="multiple">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes -
                                        {{file.type}}</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
                <button pButton [disabled]="!addForm.valid" type="submit" label="Submit Quotation"></button>
            </div>
        </form>
    </div>
</div>