<!-- <p>header-nav works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="page-header navHead">
    <div class="content-header">
        <!-- <div class="content-header-section"> -->
        <button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="layout"
            data-action="sidebar_toggle">
            <i class="fa fa-navicon"></i>
        </button>
        <!-- </div> -->
    </div>
</header>