.dashboardname {
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 1em;
}

.buttonadd {
    padding: 1em 0 1em 0;
}

.fa.fa-search {
    width: 40px;
    height: 36px;
    color: grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.ui-g-6.ui-md-4.filter-container {
    color: #125a96;
    border-color: #c8e2f8;
    width: 100%;
}