<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="ui-g-12 ui-md-12 ui-lg-12">
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <p>graph-one works!</p>
    <!-- <div class="ui-g-12"> -->
    <div class="graphClass">
      <fusioncharts [type]="type" [width]="width" [height]="height" [dataSource]="dataSource">
      </fusioncharts>
      <!-- <fusioncharts width="700" height="400" type="Column2d" [dataSource]="dataSource" >
      </fusioncharts> -->
    </div>
    <!-- </div> -->
  </div>
</div>