<div class="ui-g">
    <div class="ui-g rcorners2 createpurchasepage">

        <div class="ui-g-12">
            <div class="ui-g-6 formheader">
                <h3>Add Purchase Order</h3>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" style="float:right; position: relative;" class="ui-button-danger"
                    (click)="this._location.back()" label="Cancel"> </button>
            </div>
        </div>
        <form [formGroup]="addPurchaseForm" (ngSubmit)="confirm()">
            <div class="ui-g">
                <div style=" overflow: visible;" class="fieldset-list ui-g-12">
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-12 ui-lg-6">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Supplier ID</h3>
                                    <input class="form-control formtext" [(ngModel)]="selectedVendor" type="text"
                                        pInputText [formControlName]="'supplier_id'" />
                                </span>
                                <span
                                    *ngIf="!addPurchaseForm.get('supplier_id').valid && addPurchaseForm.get('supplier_id').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addPurchaseform.get('supplier_id').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>

                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-6">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Purchase ID</h3>
                                    <input class="form-control formtext" [(ngModel)]="selectedPR" type="text" pInputText
                                        [formControlName]="'purchase_id'" />
                                </span>
                                <span
                                    *ngIf="!addPurchaseForm.get('purchase_id').valid && addPurchaseForm.get('purchase_id').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addPurchaseform.get('purchase_id').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-12 ui-lg-6">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Location</h3>
                                    <input class="form-control formtext" type="text" pInputText
                                        [formControlName]="'location'" />
                                </span>
                                <span
                                    *ngIf="!addPurchaseForm.get('location').valid && addPurchaseForm.get('location').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addPurchaseForm.get('location').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-6">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">ETA</h3>
                                    <input class="form-control formtext" type="text" pInputText
                                        [formControlName]="'eta'" />
                                </span>
                                <span *ngIf="!addPurchaseForm.get('eta').valid && addPurchaseForm.get('eta').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addPurchaseForm.get('eta').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-12 ui-lg-6">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Remarks</h3>
                                    <input class="form-control formtext" type="text" pInputText
                                        [formControlName]="'remarks'" />
                                </span>
                                <span
                                    *ngIf="!addPurchaseForm.get('remarks').valid && addPurchaseForm.get('remarks').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addPurchaseForm.get('remarks').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-6">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Status</h3>
                                    <input class="form-control formtext" type="text" pInputText
                                        [formControlName]="'status'" />
                                </span>
                                <span
                                    *ngIf="!addPurchaseForm.get('status').valid && addPurchaseForm.get('status').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addPurchaseForm.get('status').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset-list ui-g-12 formnames" style="padding-left: 2em;">
                    <div class="ui-g-12">
                        <h2>Supporting File</h2>
                        <div class="ui-g-12">
                            <p-fileUpload name="demo[]" customUpload="true" (uploadHandler)="onUpload($event)"
                                multiple="multiple">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes -
                                            {{file.type}}</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <button pButton [disabled]="!addPurchaseForm.valid" type="submit" label="Submit"></button>
            </div>
        </form>