<html class="no-focus">

<link rel="stylesheet" href="../../assets/css/gStyles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
<!-- <link rel="stylesheet" href="login.component.css"> -->

<main id="main-container nFont">

    <div class="bg-image" style="background-image: url('assets/img/picture 3.jpg');">
        <div class="row mx-0 bg-black-op">
            <div class="hero-static col-md-6 col-xl-8 d-none d-md-flex align-items-md-end">
                <div class="p-30" data-toggle="appear">
                    <p class="font-size-h3 font-w600 text-white nFont">
                        Be Efficient. Be Productive.
                    </p>
                    <p class="font-italic text-white-op nFont">
                        Copyright &copy; Associates Consulting Pte. Ltd <span class="js-year-copy"></span>
                    </p>
                </div>
            </div>


            <!-- righthand side -->
            <div class="hero-static col-md-6 col-xl-4 d-flex align-items-center bg-white ">
                <div class="content content-full">
                    <!-- header -->
                    <div class="px-30 py-10">
                        <a class="link-effect " href="index.html">
                            <!-- <i class="si si-fire"></i> -->
                            <span class="font-size-xl text-primary-dark font-w700 ">e</span><span
                                class="font-size-xl font-w700 ISO">ISO</span>
                            <p class=" management text-primary-dark nFont "> Management System</p>
                            <!-- <p class="font-size-xl text-primary-dark nFont system"> </p> -->
                        </a>
                        <h1 class="h3 font-w700 mt-30 mb-10 nFont">Welcome!</h1>
                        <h2 class="h5 font-w400 text-muted mb-0">Please sign in</h2>
                    </div>
                    <!-- end of header -->

                    <!-- start of form -->
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin(username,password)" class="px-30 nFont">

                        <!-- Username -->
                        <div id="formContent" class="form-group row">
                            <div class="col-12">
                                <!-- <div class="form-material floating">
                                    <input type="text" [formControlName]="'username'" id="login" class="form-control"
                                        name="login-username">
                                    <label for="login-username" class="floating">Username</label>
                                </div> -->

                                <div>
                                    <span class="ui-float-label">
                                        <input type="text" [formControlName]="'username'" id="login" class="form-control"
                                        name="login-username" pInputText>
                                        <label  for="login-username"> Username </label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="form-group row">
                            <div class="col-12">
                                <!-- old fail -->
                                <!-- <div class="form-material floating">
                                    <input type="text" [formControlName]="'password'" id="password" class="form-control"
                                        name="login" >
                                    <label for="login-password">Password</label>
                                </div> -->
                                <div>
                                    <span class="ui-float-label">
                                        <input type="text" [formControlName]="'password'" id="password" 
                                            name="login" class="form-control" pInputText>
                                        <label for="login-password"> Password </label>
                                    </span>
                                </div>

                            </div>
                        </div>

                        <input type="submit" [disabled]="!loginForm.valid"
                            class="btn btn-sm btn-hero btn-alt-primary fadeIn fourth" value="Log In">
                    </form>


                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                        <a class="underlineHover" href="#">Forgot Password?</a>
                    </div>

                </div>
            </div>
        </div>
    </div>


</main>

</html>