@import url('https://fonts.googleapis.com/css?family=Poppins');

p.management.text-primary-dark.nFont {
  margin:0 0 0px;
  font-weight: 900;
  font-size:26px;
}

.ISO{
  color:#2b4993;
}
.system{
  margin:0;
  font-weight: 900;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.signInWord{
  margin-bottom: 15px !important;
}

.formBottom{
  margin-top:15px;
}

.byPassBut{
  margin-left:10px ;
}

.signUpBut{
  margin-bottom: 10px;
}
/* 
::ng-deep .form-control[_ngcontent-fse-c1]{
  border:0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #d4dae3 !important;
} */

.userInput, .passInput{
  border:0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #d4dae3 !important;
  margin-left:2px;
}

.passInput{
  margin-top: 15px !important;
}

.eyePos{
  top: 28px;
  position: relative;
  cursor: pointer;
}