@import url('https://fonts.googleapis.com/css?family=Poppins');

p.management.text-primary-dark.nFont {
  margin:0 0 0px;
  font-weight: 900;
  font-size:26px;
}

.ISO{
  color: rgb(79, 79, 192)
}
.system{
  margin:0;
  font-weight: 900;
}