<html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<!-- <fusioncharts [type]="type" [width]="width" [height]="height" [dataSource]="dataSource">
</fusioncharts> -->

<div class="ui-g-12 ui-md-12 ui-lg-12">
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <P class="dashboardname"> Insights </P>
    <!-- <div class="ui-g-12"> -->
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <div class="graphClass">
        <fusioncharts type="column2d" class="sizeCharts" dataFormat="json" [dataSource]="dataSource"
          (initialized)="initialized($event)"></fusioncharts>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
      <app-graph-three></app-graph-three>
    </div>
    <!-- </div> -->
  </div>
</div>

</html>