.graphClass{
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dashboardname {
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 1em;
}
/* .sizeCharts{
    width: 60%; 
    height: 45%; 
} */