/* .ui-helper-clearfix {
  padding-left: 2em;
} */

.formheader h3 {
    font-size: 2.7rem;
    font-weight: 900;
}

.designpage {
  padding: 2em;
}

/* styles to make search bar 100% length */
.searchicon {
  width: 40px;
  height: 36px;
  color: grey;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

::ng-deep .ui-g-6.ui-md-4.filter-container {
  color: #125a96;
  border-color: #c8e2f8;
  width: 100%;
}

/* remove borders */
  ::ng-deep .ui-dataview .ui-dataview-content {
    border: none !important;
    color: red;
  }

 ::ng-deep .ui-dataview .ui-paginator-bottom {
    border: none;
 }

 ::ng-deep body .ui-dataview .ui-dataview-header {
   border: none;
 }

 .wholebox {
   padding-left: 2em;
 }

