<div class="ui-g">
    <div class="ui-g rcorners2">
        <div class="ui-g-12">
            <div class="ui-g-6 formheader">
                <h3>Add Purchase Requisition</h3>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" style="float:right; position: relative;" class="ui-button-danger"
                    (click)="this._location.back()" label="Cancel"></button>
            </div>
        </div>
        <form [formGroup]="addRequisitionForm" (ngSubmit)="confirm()">
            <div class="ui-g">
                <div class="fieldset-list ui-g-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Supplier Name</h3>
                                <p-dropdown placeholder="Select a Supplier" [formControlName]="'supplier_id'"
                                    [virtualScroll]="true" [options]="newList">
                                </p-dropdown>
                            </span>
                            <span
                                *ngIf="!addRequisitionForm.get('supplier_id').valid && addRequisitionForm.get('supplier_id').touched"
                                class="help-block">
                                <span>
                                    <p-message *ngIf="addRequisitionForm.get('supplier_id').errors['required']"
                                        severity="error" text="This field is required!"></p-message>
                                </span>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Description</h3>
                                <input class="formtext" type="text" pInputText [formControlName]="'description'" />
                            </span>
                            <span
                                *ngIf="!addRequisitionForm.get('description').valid && addRequisitionForm.get('description').touched"
                                class="help-block">
                                <span>
                                    <p-message *ngIf="addRequisitionForm.get('description').errors['required']"
                                        severity="error" text="This field is required!"></p-message>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Requestor</h3>
                                <input class="formtext" type="text" pInputText [formControlName]="'requestor'" />
                            </span>
                            <span
                                *ngIf="!addRequisitionForm.get('requestor').valid && addRequisitionForm.get('requestor').touched"
                                class="help-block">
                                <p-message *ngIf="addRequisitionForm.get('requestor').errors['required']"
                                    severity="error" text="This field is required!"></p-message>
                            </span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Terms</h3>
                                <input class="formtext" type="text" pInputText [formControlName]="'terms'" />
                            </span>
                            <span
                                *ngIf="!addRequisitionForm.get('terms').valid && addRequisitionForm.get('terms').touched"
                                class="help-block">
                                <p-message *ngIf="addRequisitionForm.get('terms').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="fieldset-list ui-g-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Total</h3>
                                <input class="formtext" type="text" pInputText [formControlName]="'total'" />
                            </span>
                            <span
                                *ngIf="!addRequisitionForm.get('total').valid && addRequisitionForm.get('total').touched"
                                class="help-block">
                                <p-message *ngIf="addRequisitionForm.get('total').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Currency</h3>
                                <input class="formtext" type="text" pInputText [formControlName]="'currency'" />
                            </span>
                            <span
                                *ngIf="!addRequisitionForm.get('currency').valid && addRequisitionForm.get('currency').touched"
                                class="help-block">
                                <p-message *ngIf="addRequisitionForm.get('currency').errors['required']"
                                    severity="error" text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formnames">
            <h2>Supporting File</h2></div>
            <div class="ui-g-12" style="padding-bottom: 3em;">
                <p-fileUpload name="demo[]" customUpload="true" (uploadHandler)="onUpload($event)"
                    multiple="multiple" maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes -
                                {{file.type}}</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
            <div class="ui-g-12">
                <button pButton [disabled]="!addRequisitionForm.valid" type="submit" label="Submit Purchase Requisition"></button>
            </div>
        </form>
    </div>
</div>