<div class="ui-g">
    <div class="ui-g rcorners2">

        <div class="ui-g-12">
            <div class="ui-g-6 formheader">
                <h3>Add Delivery Order</h3>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" style="float:right; position: relative;" class="ui-button-danger"
                    (click)="this._location.back()" label="Cancel"></button>
            </div>
        </div>
        <form [formGroup]="addDeliveryForm"
            (ngSubmit)="confirm(quotation_number,customer_id,date,subject,pic,tenderLocation,picEmail,total,deposit)">
            <div class="ui-g">
                <div style=" overflow: visible;" class="fieldset-list ui-g-12">
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Delivery Date</h3>
                                    <p-calendar dateFormat="dd.mm.yy" placeholder="Click to Enter"
                                        [formControlName]="'delivery_date'"></p-calendar>
                                </span>
                                <span
                                    *ngIf="!addDeliveryForm.get('delivery_date').valid && addDeliveryForm.get('delivery_date').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addDeliveryForm.get('delivery_date').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>

                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Location</h3>
                                    <p-dropdown [formControlName]="'location'" [virtualScroll]="true"
                                        [options]="newList" ngModel="customer" placeholder="Select Customer">
                                    </p-dropdown>
                                </span>
                                <span
                                    *ngIf="!addDeliveryForm.get('location').valid && addDeliveryForm.get('location').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addDeliveryForm.get('location').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <!--Empty-->
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Remarks</h3>
                                    <input class="form-control formtext" type="text" pInputText [formControlName]="'remarks'" />
                                </span>
                                <span
                                    *ngIf="!addDeliveryForm.get('remarks').valid && addDeliveryForm.get('remarks').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addDeliveryForm.get('remarks').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>

                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Received By</h3>
                                    <input class="form-control formtext" type="text" pInputText
                                        [formControlName]="'received_by'" />
                                </span>
                                <span
                                    *ngIf="!addDeliveryForm.get('received_by').valid && addDeliveryForm.get('received_by').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addDeliveryForm.get('received_by').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <!--Empty-->
                        </div>
                    </div>

                </div>
                <div class="fieldset-list ui-g-12 formnames">
                    <h2>File Upload</h2>

                </div>
                <div class="fieldset-list ui-g-12 formnames">
                    <div class="ui-g-12">
                        <app-comments></app-comments>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <button pButton [disabled]="!addDeliveryForm.valid" type="submit" label="Submit Sales Order"></button>
            </div>
        </form>
    </div>
</div>