<p>sales-module works!</p>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-6">
            Customer Dashboard
            <div class="ui-g-12">
                <app-customer></app-customer>
            </div>
        </div>
        <div class="ui-g-6">
            Quotation Dashboard
            <div class="ui-g-12">
                <app-quotation></app-quotation>
            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            Sales Order Dashboard
        </div>
        <div class="ui-g-6">
            Completed Sales Order Dashboard
        </div>
    </div>
</div>