<!-- <p>sales-module works!</p> -->

<html class="no-focus">

<link rel="stylesheet" href="../../assets/css/gStyles.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
<!-- <link rel="stylesheet" href="login.component.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sHeader">
    
</div>
<div class="ui-g">
    <P> Sales Module</P>

    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-12 ui-lg-6">

            <div class="ui-g-12">

                <app-customer></app-customer>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-g-12">
                <app-quotation></app-quotation>
            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <app-salesorder-list></app-salesorder-list>
    </div>
</div>

</html>