<!-- <p>enquiry-list works!</p> -->

<p-dataView [paginator]="true" [value]="quotationList" #tt class="ui-dataview"
    filterBy="attention,subject" [rows]="3">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4">

                </div>
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <div class="ui-g-2"><i class="fa fa-search searchicon" style="margin:4px 4px 0 0"></i></div>
                        <div class="ui-g-10"><input type="text" pInputText placeholder="Global Filter"
                            (input)="tt.filter($event.target.value)" style="width:100%; border:none;"></div>
                    </div>
                </div>
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    
                </div>
            </div>
        </div>
    </p-header>
    <p-footer>
        
    </p-footer>
    <ng-template let-quotationList pTemplate="listItem">
        <div class="ui-dataview-content" style="padding: 0.5em 0em 0.5em 0em">
            <div class="ui-g-12">
                <div class="ui-g-2" style="align-content: center;">
                    <img src="../../assets/delete.png" (click)="confirm(this.quotationList)" width="30px" height="30px" alt="Logo">
                </div>
                <div class="ui-g-4">
                    <p class="quotation_header" style="font-weight:900">{{quotationList.subject}} - {{quotationList.quotation_number}}</p><br />
                    {{quotationList.attention}}<br />
                </div>
                <div class="ui-g-4">
                    <p style="text-align: right;">{{quotationList.status}}</p>
                    <br />
                </div>
                <div class="ui-g-2" style="align-content: center;">
                    <button pButton type="button" icon="pi pi-search" (click)="viewEnquiry(quotationList)"
                        style="margin-top:0"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>