<div class="ui-g wholepage">
    <div class="ui-g rcorners2">

        <div class="ui-g-12">
            <div class="ui-g-6 formheader">
                <h3>Add design documents</h3>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" style="float:right; position: relative;" class="ui-button-danger"
                    (click)="this._location.back()" label="Cancel"></button>
            </div>
        </div>
        <form [formGroup]="addDesignForm" (ngSubmit)="onAddEnquiry()">
            <div class="ui-g">
                <div style=" overflow: visible;" class="fieldset-list ui-g-12" style="padding-left: 2em;">
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Project Lead</h3>
                                <input class="formtext" type="text" [(ngModel)]="Project_lead" pInputText
                                    [formControlName]="'Project_lead'" />
                            </span>
                            <span
                                *ngIf="!addDesignForm.get('Project_lead').valid && addDesignForm.get('Project_lead').touched"
                                class="help-block">
                                <span>
                                    <p-message *ngIf="addSalesOrderForm.get('Project_lead').errors['required']"
                                        severity="error" text="This field is required!"></p-message>
                                </span>
                            </span>
                        </div>

                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Project Name</h3>
                                <input class="formtext" type="text" [(ngModel)]="Project_name" pInputText
                                    [formControlName]="'Project_name'" />
                            </span>
                            <span
                                *ngIf="!addDesignForm.get('Project_name').valid && addDesignForm.get('Project_name').touched"
                                class="help-block">
                                <span>
                                    <p-message *ngIf="addDesignForm.get('Project_name').errors['required']"
                                        severity="error" text="This field is required!"></p-message>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Project No.</h3>
                                <input class="formtext" type="text" [(ngModel)]="Project_no" pInputText
                                    [formControlName]="'Project_no'" />
                            </span>
                            <span
                                *ngIf="!addDesignForm.get('Project_no').valid && addDesignForm.get('Project_no').touched"
                                class="help-block">
                                <p-message *ngIf="addDesignForm.get('Project_no').errors['required']" severity="error"
                                    text="This field is required!"></p-message>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- <h2>Project Details</h2> -->
                <div class="fieldset-list ui-g-12 designcontainer">
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">Start Date - Design</h3>
                                <input class="formtext" type="text" [(ngModel)]="Start_date_design" pInputText
                                    [formControlName]="'Start_date_design'" />
                            </span>
                            <span
                                *ngIf="!addDesignForm.get('Start_date_design').valid && addDesignForm.get('Start_date_design').touched"
                                class="help-block">
                                <p-message *ngIf="addDesignForm.get('Start_date_design').errors['required']"
                                    severity="error" text="This field is required!"></p-message>
                            </span>
                        </div>

                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-6">
                        <div class="ui-g-12">
                            <span class="ui-float-label">
                                <h3 class="first formdetails">End Date - Design </h3>
                                <input class="formtext" type="text" [(ngModel)]="End_date_design" pInputText
                                    [formControlName]="'End_date_design'" />
                            </span>
                            <span
                                *ngIf="!addDesignForm.get('End_date_design').valid && addDesignForm.get('End_date_design').touched"
                                class="help-block">
                                <p-message *ngIf="addDesignForm.get('End_date_design').errors['required']"
                                    severity="error" text="This field is required!"></p-message>
                            </span>
                        </div>

                    </div>
                </div>
                <!--Design Backlog-->
                <div class="ui-g-12 formnames">
                    <h2>Design Backlog</h2>
                    <div class="designBLbtn" (click)="showDialog()"><label>Create</label></div>
                </div>
                <p-tabView (onChange)="handleChange($event)">
                    <p-tabPanel header="Design Plan" leftIcon="pi pi-calendar">
                        <table class="roundedCorners">
                            <tr>
                                <th>Created By</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                            <tr *ngFor="let dbl of desginBacklog">
                                <td *ngIf="dbl.design_phase=='Design Plan'">{{dbl.created_by}}</td>
                                <td *ngIf="dbl.design_phase=='Design Plan'">{{dbl.due_date}}</td>
                                <td *ngIf="dbl.design_phase=='Design Plan'">{{dbl.status}}</td>
                            </tr>
                        </table>
                    </p-tabPanel>
                    <p-tabPanel header="Design Input" leftIcon="pi pi-inbox">
                        <table class="roundedCorners">
                            <tr>
                                <th>Created By</th>
                                <th>Due Dater</th>
                                <th>Status</th>
                            </tr>
                            <tr *ngFor="let dbl of desginBacklog">
                                <td *ngIf="dbl.design_phase=='Design Input'">{{dbl.created_by}}</td>
                                <td *ngIf="dbl.design_phase=='Design Input'">{{dbl.due_date}}</td>
                                <td *ngIf="dbl.design_phase=='Design Input'">{{dbl.status}}</td>
                            </tr>
                        </table>
                    </p-tabPanel>
                    <p-tabPanel header="Design Control" leftIcon="pi pi-user" rightIcon="pi pi-star">
                        <table class="roundedCorners">
                            <tr>
                                <th>Created By</th>
                                <th>Due Dater</th>
                                <th>Status</th>
                            </tr>
                            <tr *ngFor="let dbl of desginBacklog">
                                <td *ngIf="dbl.design_phase=='Design Control'">{{dbl.created_by}}</td>
                                <td *ngIf="dbl.design_phase=='Design Control'">{{dbl.due_date}}</td>
                                <td *ngIf="dbl.design_phase=='Design Control'">{{dbl.status}}</td>
                            </tr>
                        </table>
                    </p-tabPanel>
                    <p-tabPanel header="Design Output" leftIcon="pi pi-user" rightIcon="pi pi-star">
                        <table class="roundedCorners">
                            <tr>
                                <th>Created By</th>
                                <th>Due Dater</th>
                                <th>Status</th>
                            </tr>
                            <tr *ngFor="let dbl of desginBacklog">
                                <td *ngIf="dbl.design_phase=='Design Output'">{{dbl.created_by}}</td>
                                <td *ngIf="dbl.design_phase=='Design Output'">{{dbl.due_date}}</td>
                                <td *ngIf="dbl.design_phase=='Design Control'">{{dbl.status}}</td>
                            </tr>
                        </table>
                    </p-tabPanel>
                </p-tabView>

            </div>
            <div class="ui-g-12" style="padding-left: 4em;">
                <button pButton [disabled]="!addDesignForm.valid" type="submit" label="Submit Design Plan"></button>
            </div>
        </form>
    </div>
</div>

<p-dialog header="New {{clickedonPhase}}" [(visible)]="display">
    <form [formGroup]="addBacklogForm" (ngSubmit)="onSubmitBacklog()">

        <!-- <div class="ui-g-12"> -->
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-g-12">
                <span class="ui-float-label">
                    <h3 class="first formdetails">Design Phase</h3>
                    <p-dropdown [options]="designphases" [(ngModel)]="clickedonPhase"
                        [formControlName]="'design_phase'"></p-dropdown>
                </span>
                <span *ngIf="!addBacklogForm.get('design_phase').valid && addBacklogForm.get('design_phase').touched"
                    class="help-block">
                    <span>
                        <p-message *ngIf="addBacklogForm.get('design_phase').errors['required']" severity="error"
                            text="This field is required!"></p-message>
                    </span>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="ui-float-label">
                    <h3 class="first formdetails">Who</h3>
                    <input class="formtext" type="text" pInputText [formControlName]="'who'" />
                </span>
                <span *ngIf="!addBacklogForm.get('who').valid && addBacklogForm.get('who').touched" class="help-block">
                    <span>
                        <p-message *ngIf="addBacklogForm.get('who').errors['required']" severity="error"
                            text="This field is required!"></p-message>
                    </span>
                </span>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-g-12">
                <span class="ui-float-label">
                    <h3 class="first formdetails">Due Date</h3>
                    <p-calendar dateFormat="dd.mm.yy" placeholder="Click to Enter" [formControlName]="'due_date'">
                    </p-calendar>
                </span>
                <span *ngIf="!addBacklogForm.get('due_date').valid && addBacklogForm.get('due_date').touched"
                    class="help-block">
                    <span>
                        <p-message *ngIf="addBacklogForm.get('due_date').errors['required']" severity="error"
                            text="This field is required!"></p-message>
                    </span>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="ui-float-label">
                    <h3 class="first formdetails">Status</h3>
                    <input class="formtext" type="text" pInputText [formControlName]="'status'" />
                </span>
                <span *ngIf="!addBacklogForm.get('status').valid && addBacklogForm.get('status').touched"
                    class="help-block">
                    <span>
                        <p-message *ngIf="addBacklogForm.get('status').errors['required']" severity="error"
                            text="This field is required!"></p-message>
                    </span>
                </span>
            </div>

            <!-- </div> -->
        </div>


        <div>
            <div class="supportfileheader" style="padding-left: 0em;">
            <h2>Supporting File</h2>
            <p-fileUpload name="demo[]" customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple"
                maxFileSize="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes -
                            {{file.type}}</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
        </div>
        </div>




        <div class="ui-g-12">
            <button pButton [disabled]="!addBacklogForm.valid" type="submit" label="Submit Design Plan"></button>
        </div>
    </form>
</p-dialog>