.designBLbtn {
    background-color: blue;
    color: white;
    border-radius: 3px;
    border: 1px black solid;
    width: 100px;
    height: 40px;
    justify-content: center;
    text-align: center;
}

.backloglistitem {
    padding: 0.5em;
}
table {
    width: 100%;
    text-align: center;
}

table.roundedCorners { 
    border: 1px solid DarkOrange;
    border-radius: 13px; 
    border-spacing: 0;
    }
  table.roundedCorners td, 
  table.roundedCorners th { 
    border-bottom: 1px solid DarkOrange;
    padding: 10px; 
    }
  table.roundedCorners tr:last-child > td {
    border-bottom: none;
  }