
.ui-g {
    width: 100%;
}

.menuApp {
    z-index: 2;
}

.applicationView {
    z-index: 1;
}

@media (max-width: 1024px){
    .menuApp app-menu{
       width: 100%;
    }
}

.pi {
    display: inline-block;
    font-size: 2em;
    text-rendering: auto;
}

