
.ui-g {
    width: 100%;
}

.menuApp {
    z-index: 2;
}

.applicationView {
    z-index: 1;
}

@media (max-width: 1000px){
    .menuApp app-menu{
       width: 100%;
    }
}

.pi {
    display: inline-block;
    font-size: 2em;
    text-rendering: auto;
}

.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0,0,0,0.9) !important;
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 0.4s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 100px !important;
}