.fieldset-list {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: white;
    border: grey 1px solid;
}

table {
    width: 100%;
    text-align: center;
}

table.roundedCorners { 
    border: 1px solid DarkOrange;
    border-radius: 13px; 
    border-spacing: 0;
    }
  table.roundedCorners td, 
  table.roundedCorners th { 
    border-bottom: 1px solid DarkOrange;
    padding: 10px; 
    }
  table.roundedCorners tr:last-child > td {
    border-bottom: none;
  }