<div class="ui-g">
    <div class="ui-g rcorners2">
        <div class="ui-g-12 formheader-box">
            <div class="ui-g-6 formheader">
                <h3>Add Process Control</h3>
            </div>
            <div class="ui-g-6">
                <button pButton type="button" style="float:right; position: relative;" class="ui-button-danger"
                    (click)="this._location.back()" label="Cancel"></button>
            </div>
        </div>
        <form [formGroup]="addProcessControlForm" (ngSubmit)="onAddEnquiry()">
            <div class="ui-g formnames">
                <h2>Project Details</h2>
                <div class="ui-g-12 fieldset-list">
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Project Name</h3>
                                    <input class="formtext" type="text" pInputText [formControlName]="'project_name'" />
                                </span>
                                <span
                                    *ngIf="!addProcessControlForm.get('project_name').valid && addProcessControlForm.get('project_name').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addProcessControlForm.get('project_name').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Quotation Reference</h3>
                                    <p-dropdown [options]="newList2" [formControlName]="'quotation_number'"
                                    [(ngModel)]="quotationRef" placeholder="Select a Quotation" [showClear]="true"></p-dropdown>
                                </span>
                                <span
                                    *ngIf="!addProcessControlForm.get('quotation_number').valid && addProcessControlForm.get('quotation_number').touched"
                                    class="help-block">
                                    <span>
                                        <p-message
                                            *ngIf="addProcessControlForm.get('quotation_number').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Project Lead</h3>
                                    <input class="formtext" type="text" pInputText [formControlName]="'project_lead'" />
                                </span>
                                <span
                                    *ngIf="!addProcessControlForm.get('project_lead').valid && addProcessControlForm.get('project_lead').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addProcessControlForm.get('project_lead').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Customer Name</h3>
                                    <p-dropdown [formControlName]="'customer_name'" [virtualScroll]="true" itemSize="3"
                                        [(ngModel)]="selectedCustomer" (ngModelChange)="valuechange($event)"
                                        [options]="newList" placeholder="Select a Customer">
                                    </p-dropdown>
                                </span>
                                <span
                                    *ngIf="!addProcessControlForm.get('customer_name').valid && addProcessControlForm.get('customer_name').touched"
                                    class="help-block">
                                    <span>
                                        <p-message *ngIf="addProcessControlForm.get('customer_name').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Customer Email</h3>
                                    <input class="formtext" type="text" [(ngModel)]="customerEmail" pInputText
                                        [formControlName]="'customer_email'" />
                                </span>
                                <span
                                    *ngIf="!addProcessControlForm.get('customer_email').valid && addProcessControlForm.get('customer_email').touched"
                                    class="help-block">
                                    <span>
                                        <p-message
                                            *ngIf="addProcessControlForm.get('customer_email').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Tender Location</h3>
                                    <input class="formtext" type="text" pInputText
                                        [formControlName]="'tender_location'" />
                                </span>
                                <span
                                    *ngIf="!addProcessControlForm.get('tender_location').valid && addProcessControlForm.get('tender_location').touched"
                                    class="help-block">
                                    <span>
                                        <p-message
                                            *ngIf="addProcessControlForm.get('tender_location').errors['required']"
                                            severity="error" text="This field is required!"></p-message>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="overflow: visible;" class="ui-g-12">
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">Start Date</h3>
                                    <!-- <p-calendar  placeholder="Click to Enter"
                                        [formControlName]="'start_date'"></p-calendar> -->
                                        <input class="form-control formtext" type="date"
                                        [formControlName]="'start_date'">
                                </span>
                                <span
                                    *ngIf="!addProcessControlForm.get('start_date').valid && addProcessControlForm.get('start_date').touched"
                                    class="help-block">
                                    <p-message *ngIf="addProcessControlForm.get('start_date').errors['required']"
                                        severity="error" text="This field is required!"></p-message>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <div class="ui-g-12">
                                <span class="ui-float-label">
                                    <h3 class="first formdetails">End Date</h3>
                                    <!-- <p-calendar  placeholder="Click to Enter"
                                        [formControlName]="'end_date'"></p-calendar> -->
                                        <input class="form-control formtext"  type="date"
                                        [formControlName]="'end_date'">
                                </span>
                                <span
                                    *ngIf="!addProcessControlForm.get('end_date').valid && addProcessControlForm.get('end_date').touched"
                                    class="help-block">
                                    <p-message *ngIf="addProcessControlForm.get('end_date').errors['required']"
                                        severity="error" text="This field is required!"></p-message>
                                </span>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                            <!--EMPTY-->
                        </div>
                    </div>
                </div>
                <h2>Process Control Point Backlog</h2>
                <div class="designBLbtn" (click)="showDialog()"><label>Create</label></div>
                <div class="ui-g-12 fieldset-list">
                    <p-tabView class="ui-g-12" (onChange)="handleChange($event)">
                        <p-tabPanel header="PREPARATION" leftIcon="pi pi-calendar">
                            <table class="roundedCorners">
                                <tr>
                                    <th>Created By</th>
                                    <th>Due Date</th>
                                    <th>Status</th>
                                </tr>
                                <tr *ngFor="let pcp of pcpList">
                                    <td *ngIf="pcp.design_phase=='PREPARATION'">{{pcp.created_by}}</td>
                                    <td *ngIf="pcp.design_phase=='PREPARATION'">{{pcp.due_date}}</td>
                                    <td *ngIf="pcp.design_phase=='PREPARATION'">{{pcp.status}}</td>
                                </tr>
                            </table>
                        </p-tabPanel>
                        <p-tabPanel header="IN PROGRESS PHASE" leftIcon="pi pi-inbox">
                            <table class="roundedCorners">
                                <tr>
                                    <th>Created By</th>
                                    <th>Due Dater</th>
                                    <th>Status</th>
                                </tr>
                                <tr *ngFor="let pcp of pcpList">
                                    <td *ngIf="pcp.design_phase=='IN PROGRESS PHASE'">{{pcp.created_by}}</td>
                                    <td *ngIf="pcp.design_phase=='IN PROGRESS PHASE'">{{pcp.due_date}}</td>
                                    <td *ngIf="pcp.design_phase=='IN PROGRESS PHASE'">{{pcp.status}}</td>
                                </tr>
                            </table>
                        </p-tabPanel>
                        <p-tabPanel header="FINAL PHASE" leftIcon="pi pi-user" rightIcon="pi pi-star">
                            <table class="roundedCorners">
                                <tr>
                                    <th>Created By</th>
                                    <th>Due Dater</th>
                                    <th>Status</th>
                                </tr>
                                <tr *ngFor="let pcp of pcpList">
                                    <td *ngIf="pcp.design_phase=='FINAL PHASE'">{{pcp.created_by}}</td>
                                    <td *ngIf="pcp.design_phase=='FINAL PHASE'">{{pcp.due_date}}</td>
                                    <td *ngIf="pcp.design_phase=='FINAL PHASE'">{{pcp.status}}</td>
                                </tr>
                            </table>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
            <div class="ui-g-12">
                <button pButton [disabled]="!addProcessControlForm.valid" type="submit" label="Submit"></button>
            </div>
        </form>
    </div>
    <p-dialog header="New {{clickedonPhase}}" [(visible)]="display">
        <form [formGroup]="addControlPoint" (ngSubmit)="onSubmitCp()">
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-12">
                    <span class="ui-float-label">
                        <h3 class="first formdetails">Process Control Point</h3>
                        <p-dropdown [options]="controlpoints" placeholder="Select a Phase" [(ngModel)]="clickedonPhase"
                            [formControlName]="'process_control_point'"></p-dropdown>
                    </span>
                    <span
                        *ngIf="!addControlPoint.get('process_control_point').valid && addControlPoint.get('process_control_point').touched"
                        class="help-block">
                        <span>
                            <p-message *ngIf="addControlPoint.get('process_control_point').errors['required']"
                                severity="error" text="This field is required!"></p-message>
                        </span>
                    </span>
                </div>
                <div class="ui-g-12">
                    <span class="ui-float-label">
                        <h3 class="first formdetails">PIC</h3>
                        <input type="text" pInputText [formControlName]="'pic'" />
                    </span>
                    <span *ngIf="!addControlPoint.get('pic').valid && addControlPoint.get('pic').touched"
                        class="help-block">
                        <span>
                            <p-message *ngIf="addControlPoint.get('pic').errors['required']" severity="error"
                                text="This field is required!"></p-message>
                        </span>
                    </span>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-12">
                    <span class="ui-float-label">
                        <h3 class="first formdetails">Due Date</h3>
                      <input class="form-control formtext"  type="date"
                                        [formControlName]="'end_date'">
                                        
                    </span>
                    <span *ngIf="!addControlPoint.get('due_date').valid && addControlPoint.get('due_date').touched"
                        class="help-block">
                        <span>
                            <p-message *ngIf="addControlPoint.get('due_date').errors['required']" severity="error"
                                text="This field is required!"></p-message>
                        </span>
                    </span>
                </div>
                <div class="ui-g-12">
                    <span class="ui-float-label">
                        <h3 class="first formdetails">Status</h3>
                        <!-- <input type="text" pInputText [formControlName]="'status'" /> -->
                        <select class="formtext" [formControlName]="'status'">
                            <option value="pending">pending</option>
                            <option value="completed">completed</option>
                        </select>
                    </span>
                    <span *ngIf="!addControlPoint.get('status').valid && addControlPoint.get('status').touched"
                        class="help-block">
                        <span>
                            <p-message *ngIf="addControlPoint.get('status').errors['required']" severity="error"
                                text="This field is required!"></p-message>
                        </span>
                    </span>
                </div>

            </div>

            <h2 style="font-size: 1.5em; font-weight: 600; padding-left: 0.7em;">Supporting File</h2>
            <div class="ui-g-12">
                <p-fileUpload name="demo[]" customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple"
                    maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes -
                                {{file.type}}</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>

            <div class="ui-g-12">
                <button pButton [disabled]="!addControlPoint.valid" type="submit" label="Submit"></button>
            </div>
        </form>
    </p-dialog>
</div>