.vendor-label-approved {
    border-radius: 10px;
    border: lightgreen 1px solid;
    background-color: green;
    text-align: center;
}

.vendor-label-pending {
    border-radius: 10px;
    border: lightpink 1px solid;
    background-color: rgb(231, 74, 97);
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 238, 238);
}

.fieldset-bg {
    margin-top: 5px;
    border-radius: 25px;
    background-color: white;
    border: lightgray 2px solid;
}

 .quotation_header {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0;
    padding: 0;
}

.list_header {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.ui-dataview {
    margin-top: 10px;
}

.fieldset-list {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: grey 1px solid;
    overflow:auto;
}

.p-grid {
    display: block;
} 