.rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
  }

  input, textarea {
      width: 100%;
  }

  .justify-content-center{-ms-flex-pack:center!important;justify-content:center!important}

  .steps-custom {
    width: 25%;
    color: #73AD21;
}