/* You can add global styles to this file, and also import other style files */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeflex/primeflex.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeng/resources/themes/nova-light/theme.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap-grid.min.css");
/* @import url("../src/app/quotation-create/quotation-create.component.css");
@import url("../src/app/customer-create/customer-create.component.css"); */

article, body, div, footer, header, h1, h2, h3, p {
    border: 0;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

p-button {
    margin-right: 2em;
}

/* body .ui-button {
    margin: 0;
    color: #125a96;
    background-color: #c8e2f8;
    border: 1px solid #c8e2f8;
    font-size: 14px;
    -moz-transition: background-color 0.2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, box-shadow 0.2s;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s; }
body .ui-button:enabled:hover {
    background-color: #aed8f4;
    color: #125a96;
    border-color: #c8e2f8; }
body .ui-button:enabled:focus {
    outline: 0 none;
    outline-offset: 0px;
    -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
    -moz-box-shadow: 0 0 0 0.2em #8dcdff;
    box-shadow: 0 0 0 0.2em #8dcdff; }  */

/* UNTIL HERE */

/* body {
    background-color: rgb(238, 238, 238);
} */

/* 
.fieldset-bg {
    margin-top: 5px;
    border-radius: 25px;
    background-color: white;
    border: lightgray 2px solid;
} */

/* .quotation_header {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0;
    padding: 0;
}

.list_header {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.ui-dataview {
    margin-top: 10px;
}

.fieldset-list {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: grey 1px solid;
    overflow:auto;
}

.p-grid {
    display: block;
} */