/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeflex/primeflex.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeng/resources/themes/nova-light/theme.css");
@import url("../src/app/quotation-create/quotation-create.component.css");
@import url("../src/app/customer-create/customer-create.component.css");

body {
    background-color: lightgray;
}

.fieldset-bg {
    margin-top: 5px;
    border-radius: 25px;
    background-color: white;
    border: grey 2px solid;
}

.quotation_header {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0;
    padding: 0;
}

.customer_header {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.ui-dataview {
    margin-top: 10px;
}

.fieldset-list {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: grey 1px solid;
    overflow:auto;
}

.p-grid {
    display: block;
}