.fieldset-list {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: white;
    border: grey 1px solid;
}