<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Header Section -->
<div class="bg-primary-dark-op">
    <h1>Procurement Dashboard</h1>
</div>
<!-- END Header Section -->

<div class="ui-g procurementpage">
    <!--Procument Dashboard-->
    <div class="ui-g-12">
        <div class="ui-g-8">
            <!-- <div class="ui-g-12 dashboard-header">
                <h1>PROCUREMENT DASHBOARD</h1>
            </div> -->

            <app-purchase-requisition-list></app-purchase-requisition-list>
        </div>
        <div class="ui-g-4">
            <app-vendor-list> </app-vendor-list>
        </div>
    </div>
</div>
