<p-dataView [value]="customerList" #gg class="ui-dataview" [paginator]="true" filterBy="customer_name" [rows]="3">
    <p-header>
        <div class="ui-helper-clearfix">
            <!-- <div class="ui-g"> -->
                <!-- <div class="ui-g-12 ui-md-4">

                </div> -->
                <div class="ui-g-6 ui-md-4 filter-container">
                    <div style="position:relative">
                        <div class="ui-g-1"><i class="fa fa-search searchicon" style="margin:4px 4px 0 0"></i></div>
                        <div class="ui-g-11"><input class="inputfield" type="text" pInputText placeholder="Search"
                            (input)="gg.filter($event.target.value)" style="width:100%; border:none;"></div>
                    </div>
                </div>

               
                <!-- <div class="ui-g-6 ui-md-4" style="text-align:right">

                </div> -->
            <!-- </div> -->
        </div>
    </p-header>
    <p-footer>
    </p-footer>
    <ng-template let-customerList pTemplate="listItem">
        <div class="ui-dataview-content" style="padding: 0.5em 0 0.5em 0">
            <div class="ui-g-12">
                <div class="ui-g-2" style="align-content: center;">
                    <img src="../../assets/delete.png" (click)="confirm(this.customerList)" width="30px"
                        height="30px" alt="Logo">
                </div>
                <div class="ui-g-4">
                    <p class="list_header" style="font-size: 1rem; font-weight:900;">{{customerList.customer_name}}</p><br />
                    {{customerList.customer_type}}
                </div>
                <div class="ui-g-4">
                    <p style="text-align: right;">{{customerList.customer_type}}</p>
                    <br />
                </div>
                <div class="ui-g-2" style="align-content: center;">
                    <button pButton type="button" icon="pi pi-search" (click)="viewEnquiry(this.customerList)"
                        style="margin-top:0"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
